/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar a{
    text-decoration: none;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    padding: 0.1vw;
    margin: 0.5vw;
    color: navy;
}

.nav-bar a:hover{
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    color: white;
}

nav-bar li{
   display: inline-block;
}*/

.nav-bar {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    margin-bottom: 100px;
}

.nav-bar li{
    display: inline-block;
}

.nav-bar a{
    text-decoration: none;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4vw;
    padding: 0.1vw;
    margin: 0.5vw;
    color: #223167;
}

.nav-bar a:hover{
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    color: #90CAF2;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

html{
background-color: #E0F0FC;
margin: 0;
text-align: center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{
margin: 0;
padding-left: 140px;
padding-right: 140px;
padding-bottom: 140px;
}

h1{
    text-align: left;
    text-decoration: none;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    /*padding-left: 140px;*/
    color: #223167;
    margin-top: 60px;
}

h2{
    text-align: left;
    text-decoration: none;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4vw;
    /*padding-left: 140px;*/
    color: #223167;
    margin-top: 0;
    margin-bottom: 0;
}

/*.carousel{
    position: relative;
    height: 440;
    width: 1000px;
    margin: 0 auto;
}

.carousel_track-container{
    background-color: lightgreen;
    height: 100%;
    position: relative;
}

.carousel li img{
    max-height: 390px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_button-right{
    position: aboslute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
}

.carousel_button-left{
    position: aboslute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
}

.carousel_button-right img{
    width: 20px;
}

.carousel_button-left img{
    width: 20px;
}

.carousel-track{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.carousel-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}*/

p{
    color: #223167;
    text-align: left;
    line-height: 1.4em;
    /*padding-left: 140px;*/
    padding-right: 40px;
    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 5px;
}

.adap-and-inf p{
    padding-right: 40vw;
}

.adap-and-inf h2{
    margin-top: 30px;
}

.characters-row img{
    max-width: 300px;
   
}

.characters-column {
    float: left;
    width: 33%
}

.background-row {
    display: flex;
    margin:0;
  }
.background-column {
    flex: 50%;
    margin: 0;
}

.background-row img{
    max-width: 300px;
    margin-bottom: 80px;
}

.char-name-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.char-name-grid-column{
    flex: 50%;
    margin: 0;
    justify-content: center;
}

.char-name-grid h1{
    margin:0;
    flex: 0 0 50px;
    transition: all 0.3s ease-in-out;
}

.char-name-grid h1:hover{
    color:white;

}

#btn_alice{
    text-decoration: none;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8vw;
    color: #223167;
    margin-top: 60px;
}

#btn_alice:hover{
    color: #90CAF2;
    font-weight: 900;
}


.styles-row{
    display: flex;
    margin:0;
}

.styles-row .column{
    flex: 50%;
    margin: 0;
}

.styles-row p{
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    .background-column {
      width: 100%;
    }
  }

div{
    width: 40 vw;
    margin-bottom: 20px;
}

.illustrations img{
    max-width: 400px;
    border-radius: 10px;
}

.illustrations h2{
    text-align: center;
}

.background p{
    padding-right: 40vw;
}

.major-char p{
    padding-right: 40vw; 
}




.footer {
    background-color: #223167;
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
        margin-top: 200px;
        margin-left: 0 auto;
        margin-left: 0 auto;
        margin-left: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer p{
    color: white;
    text-align: center;
}



.material-symbols-outlined{
}
/*.launch-button{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    background-color: #aa0000;
    color: white;
    font-size: 20px;
    padding: 15px 60px 15px 30px;
    border-radius: 10px;
    transition: transform 0.5s, background-color 0.1s, padding 0.5s, box-shadow 0.1s;
}

.launch-button:hover{
    background-color: #cc0000;
    box-shadow: 0 0 8px #ff0000;
}
.launch-button:active{
    background-color: #750000;
    box-shadow: 0 0 2px #750000;
    transform: translate(-50%, -20%) scale(0.7);
    padding: 15px 30px;
}

.launch-button .rocket{
    position: absolute;
    top: 50%;
    right: 40px;
    transition: transform 0.5s;
}

.launch-button .rocket i{
    position: absolute;
    top: 0;
    left: 0;
}

.launch-button .fa-rocket{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.launch-button .fa-burn{
    transform: translate(-50%, -15%) rotate(180deg) scale(0.1);
    color: orange;
    transition: transform 0.4s;
}

.launch-button:hover .fa-burn{
    transform: translate(-50%, -15%) rotate(180deg) scale(0.4)
}

.launch-button:active .fa-burn{
    transform: translate(-50%, 25%) rotate(180deg) scale(0.8);
}

.launch-button:hover .rocket{
    transform: scale(1.3);
}

.launch-button:active .rocket{
    transform: rotate(-15deg) translate(60px, -140px) scale(3.5);
}

.far-east-movement{
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}

.launch-button .far-east-movement{
    transition: color 0.2s, text-shadow 0.2s;
}

.launch-button:hover .far-east-movement{
    color: orange;
    text-shadow: 0 0 3px rgb(251, 255, 0, 0.5);
}

.launch-button:active .fa-burn::before{
    display: block;
    transform-origin: center bottom;
    animation-name: burn;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes burn {
    from { transform: rotate(-7deg); }
    33% { transform: rotate(4deg); }
    66% { transform: rotate(-4deg); }
    to { transform: rotate(7deg); }
  }